@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #DC062C;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
    background-color: #3000BA;
    box-sizing: border-box;
    width: 100vw;
    height: 4rem;
}

nav
{
    box-sizing: border-box;
    height: 3.125rem;
    display: flex;
    column-gap: 6.25rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem  6.25rem;
}

.cabecalho-link
{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5625rem;
    color: #FFFFFF;
}

main
{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

section
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 1% 1% 1%;
    row-gap: 60px;
    
}

.titulo
{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
    align-self: flex-start;
    padding: 100px 0 0 120px;
}

.texto
{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0 200px;
}

.destaque
{
    align-self: flex-end;
}


img
{
    align-self: flex-end;
    padding-right: 20px;
}

footer
{
    background-color: #3000BA;
    display: flex;
    justify-content: center;
    width: 100vw;
}

@media (max-width: 800px)
{

    section{
        width: 40%;
        padding: 0;
    }
    .texto
    {
        padding-left: 35%;
    }

    .titulo
    {
        padding: 0;
    }

    .texto
    {
        padding: 0;
    }

    .destaque
    {
        align-self: flex-start;
    }
    img
    {
        padding-right: 0;
        align-self: center;
        width: 40%;
    }

    main
    {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        
    }
}

@media (max-width: 480px)
{

   
    header
    {
        width: 30rem;
    }

    nav
    {
        column-gap: 1rem;
        padding: 0;
        justify-content: start;
        padding-left: 1rem;
    }

    .cabecalho-link
    {
        font-size: 1rem;
        width: min-content;
    }

    main{
        padding-right: 5rem;
    }

    footer
    {
        width: 30rem;
    }
    
}